#pjWrapper a { color: #1ca76c; } 

#pjWrapper .dropdown-menu,
#pjWrapper .btn { color: #fff; background: #1ca76c; border: 1px solid #12965d;}

#pjWrapper .dropdown-menu a { color: #fff; }
#pjWrapper .dropdown-menu a:hover { background: #12965d; }

#pjWrapper .btn:hover,
#pjWrapper .btn.active { background: #12965d; border: 1px solid #0d7247;}

.pjIcCalendarTable th { background: #fff; color: #5e5a59; }  

#pjWrapper .fc-day-header { background: #a4a2a3; color: #fff; }

#pjWrapper .table-bordered, 
#pjWrapper .table-bordered > tbody > tr > td, 
#pjWrapper .table-bordered > tbody > tr > td:hover, 
#pjWrapper .table-bordered > tbody > tr > th, 
#pjWrapper .table-bordered > tfoot > tr > td, 
#pjWrapper .table-bordered > tfoot > tr > th, 
#pjWrapper .table-bordered > thead > tr > td, 
#pjWrapper .table-bordered > thead > tr > th,
#pjWrapper .thumbnail { border-color: #a4a2a3; }

#pjWrapper .thumbnail,
#pjWrapper .pjCalTable,
#pjWrapper .pjCalMonths table,
#pjWrapper .pjIcCalendarTable td,
#pjWrapper .pjIcCalendarTable { background: #eef0ef; }

#pjWrapper .pjIcCalendarTable td.pjIcMonthAlt,
#pjWrapper .pjIcCalendarTable td.pjIcMonthAlt:hover { background: #e8e6e6; }

#pjWrapper .pjCalMonths th .active { background: #1ca76c; }

#pjWrapper .pjIcCalendarTable td:hover { background: #1ca76c; }