@CHARSET "UTF-8";

#phpevtcal_container{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #9c9ea1;
	font-size: 12px;
	margin: 10px;
	width: 100%;
}
#phpevtcal_header{
	overflow: hidden;
}

#phpevtcal_category{
	float: left;
}
#phpevtcal_menu{
	overflow: hidden;
	float: right;
}
#phpevtcal_menu a{
	display: block;
	width: 22px;
	height: 22px;
	float: right;
	margin-left: 8px;
}
#phpevtcal_menu a.phpevtcal-monthly{
	background: url(../img/frontend/layout_1/monthly.png) 0 0 no-repeat;
}
#phpevtcal_menu a.phpevtcal-calendar{
	background: url(../img/frontend/layout_1/calendar.png) 0 0 no-repeat;
}
#phpevtcal_menu a.phpevtcal-list{
	background: url(../img/frontend/layout_1/list.png) 0 0 no-repeat;
}
.phpevtcal-select{
	background-color: #f5f6f6;
    border: 1px solid #e1e0e0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 14px;
    padding: 7px 6px;
}

.phpevtcal-nav-bar{
	height: 44px;
	background: url(../img/frontend/layout_1/monthname-bg.png) 0 0 repeat-x;
	margin-bottom: 2px;
}
.phpevtcal-nav-bar a{
	display: block;
	width: 22px;
	height: 22px;
	margin-top: 10px;
}
.phpevtcal-nav-bar a.prev{
	float: left;
	background: url(../img/frontend/layout_1/prev.png) 0 0 no-repeat;
	margin-left: 4px;
}
.phpevtcal-nav-bar a.next{
	float: right;
	background: url(../img/frontend/layout_1/next.png) 0 0 no-repeat;
	margin-right: 4px;
}
.phpevtcal-nav-bar .month-name{
	display: block;
	float: left;
	color: #ffffff;
	font-size: 20px;
	margin-left: 80px;
	margin-top: 8px;
	font-weight: bold;
}
.phpevtcal-month-bar{
	overflow: hidden;
	margin-bottom: 2px;
}
.phpevtcal-month-bar a{
	width: 42px;
	height: 25px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	display: block;
	float: left;
	margin-right: 2px;
	border: 1px solid #51555a;
	background-color: #6c7078;
	text-decoration: none;
	font-weight: bold;
}
.phpevtcal-month-bar a span{
	display: block;
	margin-top: 4px;
}
.phpevtcal-month-bar a.current{
	border: 1px solid #069de3;
	background-color: #069de3;
	cursor: default;
}
.phpevtcal-event-table{
	font-size: 12px;
	color: #9c9ea1;
	border-width: 0 0 1px 1px;
	border-spacing: 0;
	border-collapse: collapse;
	border-style: solid;
	border-color: #d8dadc;
	width: 100%;
}
.phpevtcal-event-table td{
	padding: 5px;
	margin: 0;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #d8dadc;
}
.phpevtcal-event-table td.day-num{
	width: 20px;
	text-align: right;
}
.phpevtcal-event-table td.day-week{
	width: 80px;
}
.phpevtcal-event-table td.start-time{
	width: 60px;
}
.phpevtcal-event-table tr.current-date td.day-num,
.phpevtcal-event-table tr.current-date td.day-week{
	background-color: #005989;
	color: #ffffff;
}
.phpevtcal-event-table tr.has-event td.day-num,
.phpevtcal-event-table tr.has-event td.day-week,
.phpevtcal-event-table tr.has-event td.start-time{
	background-color: #069de3;
	color: #000000;
}
.phpevtcal-event-table tr.has-event td.day-num,
.phpevtcal-event-table tr.has-event td.day-week{
	color: #ffffff;
}
.phpevtcal-event-table tr.has-event td label{
	display: block;
	color: #0D0E10;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 6px;
}
/********Calendar view************/
.phpevtcal-table-calendar{
	width: 100%;
	font-size: 12px;
	color: #9c9ea1;
	border-collapse: collapse;
}
.phpevtcal-table-calendar td{
	padding: 5px;
	margin: 0;
	border: 1px solid #d8dadc;
}
.phpevtcal-table-calendar tr.phpevtcal-tr-nav{
	
}
.phpevtcal-table-calendar tr.phpevtcal-tr-nav td{
	height: 34px;
	background: url(../img/frontend/layout_1/monthname-bg.png) 0 0 repeat-x;
	border: none;
	color: #ffffff;
}
.phpevtcal-table-calendar tr.phpevtcal-tr-space td{
	height: 2px;
	border: none;
	padding: 0px;
	margin: 0px;
}
.phpevtcal-table-calendar tr.phpevtcal-tr-nav td.current-month{
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.phpevtcal-table-calendar tr.phpevtcal-tr-nav td a{
	display: block;
	height: 22px;
	width: 22px;
}
.phpevtcal-table-calendar tr.phpevtcal-tr-nav td a.prev{
	float: left;
	background: url(../img/frontend/layout_1/prev.png) 0 0 no-repeat;
	margin-left: 4px;
}
.phpevtcal-table-calendar tr.phpevtcal-tr-nav td a.next{
	float: right;
	background: url(../img/frontend/layout_1/next.png) 0 0 no-repeat;
	margin-right: 4px;
}
.phpevtcal-table-calendar tr.phpevtcal-tr-weekday td{
	height: 35px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	width: 50px;
	border-color: #505459;
	background-color: #6c7078;
	font-weight: bold;
}
.phpevtcal-table-calendar tr.phpevtcal-tr-day td{
	height: 60px;
	width: 94px;
	text-align: center;
	color: #a3a4a7;
	font-size: 14px;
}
.phpevtcal-table-calendar tr.phpevtcal-tr-day td.last-month-day,
.phpevtcal-table-calendar tr.phpevtcal-tr-day td.next-month-day{
	background-color: #e3e0e0;
}
.phpevtcal-table-calendar tr.phpevtcal-tr-day td.current-date{
	border: 1px solid #005f92;
	background-color: #005f92;
	color: #ffffff;
}
.phpevtcal-table-calendar tr.phpevtcal-tr-day td.has-event{
	border: 1px solid #0d8ac7;
	background-color: #069de3;
	color: #ffffff;
	cursor: pointer;
}
.phpevtcal-table-calendar tr.phpevtcal-tr-day td.has-event .phpevtcal-event-title{
	font-size: 11px;
	text-align: left;
}
.phpevtcal-table-calendar .phpevtcal-tooltip{
	background-color: #15283b;
	color: #ffffff;
	font-size:12px;
	text-align: left;
	
	font-weight: normal;
	font-style: normal;
	margin: 5px 0px 0px 10px;
	border: solid 1px #000;
	z-index: 1000;
	visibility: hidden;
	position: absolute;
	padding: 5px;
	max-width: 300px;
}
#phpevtcal_event_detail{
	margin-top: 16px;
}
.phpevtcal-event-box{
	border: 1px solid #d8d8d8;
	overflow: hidden;
	background-color: #ffffff;
	margin-bottom: 12px;
}
.phpevtcal-event-box .phpevtcal-detail-heading{
	height: 33px;
	overflow: hidden;
	margin-bottom: 14px;
}
.phpevtcal-event-box .phpevtcal-detail-heading .phpevtcal-detail-date{
	height: 33px;
	color: #ffffff;
	background-color: #069de3;
	display: block;
	float: left;
	width: 150px;
	padding-left: 14px;
	padding-top: 9px;
	font-size: 14px;
}
.phpevtcal-event-box .phpevtcal-detail-heading .phpevtcal-detail-close{
	display: block;
	float: right;
	height: 33px;
	width: 33px;
	background: url(../img/frontend/layout_1/close.png) 0 0 no-repeat;
}
.phpevtcal-event-box .phpevtcal-event-title{
	color: #0d0e10;
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin: 6px 12px 4px 12px;
}
.phpevtcal-event-box .phpevtcal-detail-cate{
	color: #494b4e;
	font-size: 13px;
	margin: 0px 12px 12px 12px;
}
.phpevtcal-event-box .phpevtcal-detail-desc{
	color: #a9abae;
	margin: 2px 12px 12px 12px;
	line-height: 20px;
}

#phpevtcal_pagination{
	overflow: hidden;
	float: right;
	margin-bottom: 20px;
}
#phpevtcal_pagination a{
	display: block;
	float: right;
	width: 14px;
	height: 16px;
	cursor: default;
}
#phpevtcal_pagination a.phpevtcal-paging{
	cursor: pointer;
}
#phpevtcal_pagination .phpevtcal-paging-next{
	background: url(../img/frontend/layout_1/page-next.png) 0 0 no-repeat;
	margin-left: 14px;
}
#phpevtcal_pagination .phpevtcal-paging-prev{
	background: url(../img/frontend/layout_1/page-prev.png) 0 0 no-repeat;
}